<h1>Contribute to AWS Flash Cards</h1>
<%= simple_form_for Quote.new do |f| %>
  <h3><%= f.input :author, :label => "AWS Service", :placeholder => "Elastic Beanstalk." %></h3>
   <br />
   <h3><%= f.input :saying, :as => :text, :input_html => { :rows => 7 , :style => 'width: 35%'}, :label => "Brief Explanation", :placeholder => "AWS Elastic Beanstalk is an orchestration service offered from Amazon Web Services for deploying infrastructure...!"%></h3>
  
   <br />
  <%= f.submit 'Create' %>
<% end %>